<footer class="footer">
  <small>
    Gerenciador de casos de uso
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   '#' %></li>
      <li><%= link_to "Contato", '#' %></li>
    </ul>
  </nav>
</footer>
