<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    		<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

	  	<a class="brand" href="#">Gerenciador de casos de uso</a>
			<div class="nav-collapse pull-right">
				<ul class="nav">
					<li><%= link_to "Projetos", projetos_path %></li>
					<li><%= link_to "Atores", atores_path %></li>
					<li><%= link_to "Casos de uso", casos_de_uso_path %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
